

  <div class="row row-cols md-3">
  <% @posts.each do |post| %>
  <div class="card　d-flex justify-content-around m-5" style="width: auto; heigth: auto;">
  <div class="card-body border border-primary">
  
  
    <%= image_tag post.image, :width => '280', :height => '280'if post.image.attached? %> 
    
    
      <h4 class="card-title"><%= post.title %></h4>
      １位<p class="card-text"><%= post.rank1 %></p>
      ２位<p class="card-text"><%= post.rank2 %></p>
      ３位<p class="card-text"><%= post.rank3 %></p>
    

    <div class="btn-group">
          <button type="button" class="btn btn-5m btn-outline-secondary">
            <%= link_to '詳細', post_path(post.id) , method: :get %></button>
          <button type="button" class="btn btn-5m btn-outline-secondary">
            <%=link_to post.user.name, user_path(post.user.id)%></button>
    </div>

    <div id="likes_buttons_<%= post.likes_count %>">
        <%= render partial:'likes/like', locals: { post: post} %>
    </div>


    
      <p class="card-text">
      <small class="text-muted"><%= post.updated_at %>
      </small>
      </p>

  </div>
  </div>
  <% end %>
  </div>

