<%= render 'posts/search' %>

<%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input ml-3" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>


<div class="row row-cols md-3">
<% @posts.each do |post| %>
  <div class="card d-flex justify-content-around m-5" style="width: auto; heigth: auto;">
  <div class="card-body border border-primary">
  
  <%= image_tag post.user.image.to_s , class:"icon_image"%>
    <b><%=link_to post.user.name, user_path(post.user.id)%></b>
    
    
      <h4 class="card-title"><%= post.title %></h4>
      １位<p class="card-text"><%= post.rank1 %></p>
      ２位<p class="card-text"><%= post.rank2 %></p>
      ３位<p class="card-text"><%= post.rank3 %></p>

      <%= image_tag post.image, :height => '280'  if post.image.attached? %>

             
    
<p>
    <div class="btn-group">
          <button type="button" class="btn btn-5m btn-outline-secondary">
            <%= link_to '詳細', post_path(post.id) , method: :get %></button>
    </div>
</p>

<p>
    <div id="likes_buttons_<%= post.id %>">
      <%= render partial: 'likes/like', locals: { post: post} %>
    </div>
</p>


    
      <p class="card-text">
        <small class="text-muted"><%= post.updated_at %>
        </small>
      </p>

       <% post.tags.each do |tag| %>
        <span class= 'badge badge-primary'>
        <%= tag.tag_name %>
        </span>
      <% end %>


  </div>
  </div>
  
 
     

   <% end %>
    
  
</div>

